.project-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#preview {
  align-self: center;
}

video {
  max-width: 100%;
}

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .icon {
  min-width: 300%;
} */
