header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.project-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#preview {
  align-self: center;
}

video {
  max-width: 100%;
}

#contact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contact-icon {
  transition: transform 0.5s;
}

.contact-icon:hover {
  transform: translateY(-10%);
}

.icon {
  min-width: 200%;
  transform: translateX(-25%);
}

.li-bold {
  font-weight: bold;
}

@media (max-width: 26.5625em) {
  header {
    flex-direction: column;
  }
}

@media (min-width: 36em) {
  .icon {
    min-width: 300%;
  }
}

@media (min-width: 48em) {
  .icon {
    min-width: 400%;
  }
}
