header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.project-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#preview {
  align-self: center;
}

video {
  max-width: 100%;
}

#contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon {
  min-width: 200%;
}

.li-bold {
  font-weight: bold;
}

@media (max-width: 26.5625em) {
  header {
    flex-direction: column;
  }
}
